{% extends 'base.html' %}

{% block title %}
                  ข้อมูลแพทย์
{% endblock title %}


{% block medic %}
<h2>Section title</h2>
<div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ชื่อจริง</th>
            <th scope="col">นามสกุล</th>
            <th scope="col">ความชำนาญ</th>
            <th scope="col">โรงพยาบาลที่สังกัด</th>
          </tr>
        </thead>
        <tbody>
          
          {% for medic in medics %}
          <tr>
            <td>#</td>
            <td>{{medic.mfirst_name}}</td>
            <td>{{medic.mlast_name}}</td>
            <td>{{medic.expertise}}</td>
            <td>{{medic.affiliation}}</td>
          </tr>
          {% endfor %}
            
        </tbody>
      </table>
</div>
{% endblock medic %}
    