{% extends 'base.html' %}

{% block title %}
                  ข้อมูลผู้ป่วย
{% endblock title %}


{% block patient %}
<h2>Section title</h2>
<div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ชื่อจริง</th>
            <th scope="col">นามสกุล</th>
            <th scope="col">เพศ</th>
            <th scope="col">อายุ</th>
            <th scope="col">แพทย์ผู้ดูแลอาการ</th>
          </tr>
        </thead>
        <tbody>
          {% for patient in patients %}
          <tr>
            <td>#</td>
            <td>{{patient.pfirst_name}}</td>
            <td>{{patient.plast_name}}</td>
            <td>{{patient.gender}}</td>
            <td>{{patient.age}}</td>
            <td>{{patient.medic}}</td>
          </tr>
          {% endfor %}
            
        </tbody>
      </table>
</div>

{% endblock patient %}
    